{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "App": true,
    "firebase": true,
    "page": true,
    "jQuery": true,
    "Handlebars": true,
    "Caman": true,
    "$": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-console": 0,
    "no-undef": 0,
    "no-unused-vars": 0,
    "eqeqeq": [2, "smart"],
    "no-floating-decimal": 2,
    "no-multi-spaces": [0, {
      "exceptions": {
        "ImportDeclaration": true,
        "VariableDeclarator": true
      }
    }],
    "no-multi-str": 2,
    "camelcase": 1,
    "eol-last": 1,
    "indent": [2, 2, {
      "SwitchCase": 1,
      "VariableDeclarator": 1
    }],
    "quotes": [2, "single", "avoid-escape"],
    "semi": 2,
    "space-before-blocks": 2,
    "space-before-function-paren": [2, "never"],
    "constructor-super": 2,
    "arrow-spacing": 2
  }
}
