{{> header}}

{{#if user}}
<div class="feed" id="feed"></div>
{{else}}
<div class="welcome-screen">
  <h1 class="welcome-screen__logotype logotype"><div class="sr-only">Instaprjct</div></h1>
</div>
{{/if}}
