<div class="form-submit f f-align-1-2 f-gap-2">
  <button type="submit" class="btn btn-primary btn-mw-sm">{{ btn-text }}</button>
  <i class="fa fa-spinner fa-lg fa-spin"></i>
  <span class="text-success">
    <i class="fa fa-check"></i> Success!
  </span>
  <span class="text-danger">
    <i class="fa fa-exclamation-triangle"></i> Error!
  </span>
</div>
