.welcome-screen
  display flex
  width 100%
  min-height 100vh
  justify-content center
  align-items center
  align-content center
  flex-wrap wrap

  &__logotype
    margin 0
    font-size 80vmin

  &__footer
    display flex
    align-items center
    justify-content center
    margin-top 16px
    flex 1 0 100%

    > *
      margin 0 4px

