placeholder()
  &:-ms-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &::-webkit-input-placeholder
    {block}
  &::placeholder
    {block}

scrollbar()
  &::-webkit-scrollbar
    {block}

scrollbar-track()
  &::-webkit-scrollbar-track
    {block}

scrollbar-thumb()
  &::-webkit-scrollbar-thumb
    {block}

scrollbar-track-piece()
  &::-webkit-scrollbar-track-piece
    {block}
